@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fade 1.5s ease forwards;
}
.fade-in-v {
  opacity: 0;
  animation: fade-v 1.5s ease forwards;
}
.fade-in-main {
  opacity: 0;
  animation: fade-main 1s ease forwards;
}
.fade-out {
  animation: fade reverse 1.5s ease reverse;
}
@keyframes fade {
  from {
    transform: scale(1);
    opacity: 0;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
  }
  to {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}
@keyframes fade-v {
  from {
 
    opacity: 0;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
  }

  to {
  
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}
@keyframes fade-main {
  from {
    transform: scale(1.5);
    opacity: 0;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
  }
  to {
    transform: scale(1);
    opacity: .75;  
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}

select {
  position: relative;
}

select::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;

}

select {
  
  background-image: url('/0random.svg');
  background-position: right 0px center;
  background-repeat: no-repeat;
}



.divvy {
  background-image: url('/bight.svg');
}


@keyframes textChange {
  0% {
    opacity: 1;
  }

  50% {
    filter: blur(7px);
      -webkit-filter: blur(7px);
      -moz-filter: blur(7px);
      -o-filter: blur(7px);
      -ms-filter: blur(7px);
  }

  100% {
    opacity: 1;
  }
}

.animate-text-change {
  animation: textChange .3s;
}


button{
  .element {
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }
}